# Jangan simpan password production di repository.
# GUI meminta password saat operasi database.
# ==========================================
# PRE-MIGRATION / TEST DATABASE
# ==========================================

PRE_DB_HOST=127.0.0.1
PRE_DB_PORT=3306
PRE_DB_DATABASE=sik_examp_test
PRE_DB_USERNAME=root
PRE_DB_PASSWORD=

# ==========================================
# MIGRATION
# ==========================================

PRE_MIGRATION_FILE=
PRE_BACKUP_FILE=


# ==========================================
# PRODUCTION DATABASE
# ==========================================

FINAL_DB_HOST=127.0.0.1
FINAL_DB_PORT=3306
FINAL_DB_DATABASE=sik_examp
FINAL_DB_USERNAME=root
FINAL_DB_PASSWORD=